.app {
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #cbdcdb;
}

.cat {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom:0; left: 0;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    border-radius: 20px;
    opacity: .5;
}
